{{ form_start(form) }}

<div class="col-md-12 mb-5">

    <div class="row form-group">
        <div class="col-md-6 mb-3 mb-md-0">
            <label class="text-black" for="fname">Libelle</label>


            {{ form_widget(form.Libelle, { 'attr': {'class': 'form-control'} }) }}


        <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="fname">Prix</label>


                {{ form_widget(form.Prix, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-black" for="fname">Categorie</label>


                    {{ form_widget(form.categorie, { 'attr': {'class': 'form-control'} }) }}
                </div>


                <div class="row form-group">

                    <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="subject">Image</label>
                        {{ form_widget(form.image, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>



                <div class="row form-group">
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-primary btn-md text-white">
            </div>
        </div>

        {{ form_end(form) }}
